
<ul>
  <% @user_data.each do |user| %>
    <%= puts user%>
    <li>
      <%= image_tag image_path(user.photo) %>
      <div>
        <strong>Username:</strong> <%= user.name %><br>
        <strong>Number of Posts:</strong> <%= user.post_count %>
      </div>
    </li>
  <% end %>
</ul>
